* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
/* Start of navigation css */
/* .navbar {
background-color: #8700FF !important;
background: -webkit-linear-gradient(left, #8700FF, #B90FE9);
background: -moz-linear-gradient(left, #8700FF, #B90FE9);
background: linear-gradient(to right, #8700FF, #B90FE9);
} */
.navbar .navbar-brand{
    color: #ff01bf !important;
}
.navbar .navbar-brand:hover{
    color: #000 !important;
}
.navbar .navbar-nav li a{
    color: #ff01bf !important;
}
.navbar .navbar-nav li a:hover{
    color: #000 !important;
}
.navbar .navbar-toggler {
    color: #fff !important;
}
/* End of navigation css */

/* Start header css */
.page-header {
    height: 100%;
    width: 100%;
    background: #ff01bf;
    background: -webkit-linear-gradient(left, #ff01bf, #3205fcef);
    background: -moz-linear-gradient(left, #ff01bf, #3205fcef);
    background: linear-gradient(to right, #ff01bf, #3205fcef);
    margin-top: 3rem;
    color: #fff;
}

.header-content {
    margin-top: 100px;
}
.header-content h2 {
    font-weight: 800;
    font-size: 40px;
}
.header-content p {
    font-weight: 400;
    font-size: 20px;
}
.header-image img {
    width: 500px;
    height: 400px;
}

/* End header css */

/* Start About Us css */
.about-container .about-content h1 {
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    font-size: 40px;
    font-weight: 800;
}
.about-container .about-content p {
    font-size: 20px;
    font-weight: 400;
}
/* End About Us css */

/* Start Contact Us css */
#contact_us {
    background: whitesmoke;
}
/* End Contact Us css */

/* Start footer css */
.footer {
    padding: 1rem;
    background: #ff01bf;
    background: -webkit-linear-gradient(left, #ff01bf, #3205fcef);
    background: -moz-linear-gradient(left, #ff01bf, #3205fcef);
    background: linear-gradient(to right, #ff01bf, #3205fcef);
}
.container-footer p {
    color: #fff;
}
.container-footer a {
    color: #fff;
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.container-footer a:hover {
    color: #000;
}
/* End footer css */

/* Start Media Query */


@media (max-width: 991px) {
    .header-image img {
        width: 450px;
        height: 490px;
    }
    .about-img img {
        width: 450px;
        height: 490px;
    }
}

@media (max-width: 768px) {
    .header-image img {
        width: 300px;
        height: 300px;
    }
    .about-img img {
        width: 300px;
        height: 300px;
    }
    .header-content h2 {
        font-weight: 600;
        font-size: 40px;
    }
    .header-content p {
        font-weight: 400;
        font-size: 16px;
    }
    .about-container .about-content h1 {
        font-weight: 600;
        font-size: 40px;
    }
    .about-container .about-content p {
        font-weight: 400;
        font-size: 16px;
    }
}

@media (max-width: 280px) {
    .page-header .container .header-content .btn {
        font-size: 14px;
    }
    .navbar .navbar-brand {
        font-size:14px;
    }
    .header-image img {
        width: 250px;
        height: 200px;
    }
    .about-img img {
        width: 250px;
        height: 200px;
    }
}

/* End Media Query */


